# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Dataset
data/raw/

# Model checkpoints
*.keras
*.h5

# Environment / secrets
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Testing / cache
.pytest_cache/
.mypy_cache/